




#title
{
color:#FFFFFF;
padding-top: 100px;
text-align: center;
font-size: 50px;
font-weight:bold;
}

#title2
{
    color:#FFFFFF;
    padding-bottom: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}


body{
    margin:10px;
    background-image: url(https://www.onlygfx.com/wp-content/uploads/2018/07/7-blue-marble-painting-texture-1.jpg);
    
    width: 100%;
}
#header{
    height:200px;
    /*background: #fff000;*/
    color:rgb(0, 0, 0);
}



.card-img-vh {
    display: block;
    width: 100%;
    height: 32vh;
    object-fit: cover;
    }

    #jb-button{

        border-color:#FFB31B;
        background-color:#FFFFFF;
        color:#FFB31B;
    }
    
    #jb-button:hover{

        border-color:#FFB31B;
        background-color:#FFB31B;
        color: #FFFFFF;
    }
#search-button{
    border-color:#FFB31B;
        color:#FFB31B;
}
#search-button:hover{
    border-color:#FFB31B;
        background-color:#FFB31B;
        color: #FFFFFF;
}
.card-footer{
    background-color:#FFFF00;
    
}
.card-group{
    padding-bottom:100px;
}

.d-block
{

height: 500px;
margin-left: auto;
margin-right: auto;
padding-bottom: 200px;

}