#title
{
color:#2691DC;
padding-top: 100px;
text-align: center;
}

#title2
{
    color:#2691DC;
    padding-bottom: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
body{
    margin:10px;
    background-image: url(https://www.cacheclimatisation.com/wp-content/uploads/2017/11/peinture.jpg);
    height: 68vh;
    width: 100%;
}
#header{
    height:200px;
    /*background: #fff000;*/
    color:rgb(0, 0, 0);
}



.card-img-vh {
    display: block;
    width: 100%;
    height: 32vh;
    object-fit: cover;
    }

    #jb-button{

        border-color:#FFB31B;
        background-color:#FFFFFF;
        color:#FFB31B;
    }
    
    #jb-button:hover{

        border-color:#FFB31B;
        background-color:#FFB31B;
        color: #FFFFFF;
    }
#search-button{
    border-color:#FFB31B;
        color:#FFB31B;
}
#search-button:hover{
    border-color:#FFB31B;
        background-color:#FFB31B;
        color: #FFFFFF;
}
.card-footer{
    background-color:#2691DC;
    
}
.card-group{
    padding-bottom:100px;
}