




#title
{
color:#FFFFFF;
padding-top: 100px;
text-align: center;
font-size: 100px;
font-weight:bold;

}

#title2
{
    color:#FFFFFF;
    padding-bottom: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}


body{
    margin:10px;
    background-image: url(https://www.onlygfx.com/wp-content/uploads/2018/07/7-blue-marble-painting-texture-1.jpg);
    
    width: 100%;
}
#header{
    height:200px;
    /*background: #fff000;*/
    color:rgb(0, 0, 0);
}



.card-img-vh {
    display: block;
    width: 100%;
    height: 32vh;
    object-fit: cover;

    }



    #jb-button{

        border-color:#FFFFFF;
        background-color:#FFFFFF;
        color:#2691DC;
        
    }
    
    #jb-button:hover{

        border-color:#FFFFFF;
        background-color:#2691DC;
        color: #FFFFFF;
    }
#search-button{
    border-color:#FFB31B;
        color:#FFB31B;
}
#search-button:hover{
    border-color:#FFB31B;
        background-color:#FFB31B;
        color: #FFFFFF;
}

.card-group{

    border-color:#FFB31B;

}


.card-footer{
    border-color:#FFB31B;
    background: url(https://cdn.pixabay.com/photo/2013/02/20/11/30/autumn-83761_960_720.jpg)
}
.card-group{
    padding-bottom:100px;

}

.d-block
{

height: 500px;
margin-left: auto;
margin-right: auto;
padding-bottom: 100px;

}

#wave{
    padding-right: 0;
    padding-left: 0;
    background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.navs{
   border: 2px solid #FFB31B;


    
}

.nav-item{
    color: #FFFFFF;
}



html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}



.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

